* 
{
    background-color: #FAF7F0;
    font-family: 'Times New Roman', Times, serif;
}

.main 
{
    border-radius: 2px;
    border-color: black;

}


.main a img 
{
    display: block;
    width: 100px;
    height: 100px;
}



.description p 
{
    text-align: center;
    background-color: #d7bd81;
    padding: 20px;
    margin: 20px;

}

.footer
{
    background-color: #d7bd81;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

